<div [ngClass]="className" class="shadow-picker">
    <div class="sp-field-container">
        <type-field
            [value]="state?.position || 'outside'"
            (onChange)="updateState('position', $event)"
            [template]="typeTpl"
        ></type-field>
        <offset-field
            [value]="state?.offset || { x: '0', y: '0' }"
            (onChange)="updateState('offset', $event)"
            [offsetMax]="offsetMax"
            [inputTpl]="inputTpl"
        ></offset-field>
        <slider-field
            [value]="state?.blur || '0'"
            (onChange)="updateState('blur', $event)"
            [range]="blurRange"
            [inputTpl]="inputTpl"
            [sliderTpl]="sliderTpl"
            title="Blur"
        ></slider-field>
        <slider-field
            [value]="state?.spread || '0'"
            (onChange)="updateState('spread', $event)"
            [range]="spreadRange"
            [inputTpl]="inputTpl"
            [sliderTpl]="sliderTpl"
            title="Spread"
        ></slider-field>
        <color-field
            title="Color"
            [value]="state?.color || '#000000'"
            [inputTpl]="inputTpl"
            [sliderTpl]="sliderTpl"
            (onChange)="updateState('color', $event)"
            [attr.title]="state?.color || '#000000'"
        ></color-field>
    </div>
    <div *ngIf="showSample" class="sp-sample-bg">
        <div class="sp-sample" [ngStyle]="{ 'box-shadow': sample }"></div>
    </div>
</div>
