@use 'sass:math';

$shadow-picker-empty-bg-size: 10px !default;
$shadow-picker-background: #2a2a2a !default;
$shadow-picker-width: 256px !default;
$shadow-picker-font-size: 14px !default;
$shadow-picker-color: #bec6cf !default;
$shadow-picker-padding: 8px !default;
$shadow-picker-offsetgrid-size: 100px !default;
$shadow-picker-control-color: #4285f4 !default;
$shadow-picker-control-border-radius: 2px !default;

.shadow-picker {
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    background: $shadow-picker-background;
    max-width: $shadow-picker-width;
    font-size: $shadow-picker-font-size;
    font-family: sans-serif;
    color: $shadow-picker-color;
    .sp-field-container {
        padding: $shadow-picker-padding;
        display: flex;
        flex-direction: column;
        gap: $shadow-picker-padding;
    }
    .sp-type-field {
        flex: 1;
        display: flex;
        gap: $shadow-picker-padding;
    }
    .sp-group {
        display: flex;
        flex: 1;
        margin: 0;
    }
    .sp-button {
        border: 1px solid #555a;
        background: transparent;
        cursor: pointer;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin: 0;
        &.active {
            background: $shadow-picker-control-color;
        }
        &.sp-button-out {
            border-radius: $shadow-picker-control-border-radius 0 0
                $shadow-picker-control-border-radius;
        }

        &.sp-button-in {
            border-radius: 0 $shadow-picker-control-border-radius
                $shadow-picker-control-border-radius 0;
        }
    }

    .sp-offset-field {
        flex: 3;
        display: flex;
        gap: $shadow-picker-padding;
        .sp-inputs {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: $shadow-picker-padding;
            .sp-row {
                display: flex;
                align-items: center;
                gap: $shadow-picker-padding;
            }
        }
        .sp-grid {
            flex: 0;
        }
    }
    .sp-label {
        justify-content: flex-end;
        width: 60px;
        min-width: 60px;
        display: flex;
        align-items: center;
        user-select: none;
    }

    .sp-input {
        background: transparent;
        color: inherit;
        border: 1px solid #555a;
        border-radius: $shadow-picker-control-border-radius;
        width: 30px;
        height: 28px;
        box-sizing: border-box;
        flex: 1;
        text-align: right;
    }

    .sp-slider-field {
        gap: $shadow-picker-padding;
        display: flex;
        align-items: center;
    }

    .sp-slider {
        flex-basis: $shadow-picker-offsetgrid-size;
        appearance: none;
        min-width: $shadow-picker-offsetgrid-size;
        height: 2px;
        background: #555a;
        outline: none;
        &::-webkit-slider-thumb {
            appearance: none;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $shadow-picker-control-color;
            cursor: pointer;
        }
    }

    .sp-sample-bg {
        padding: 32px;
        justify-content: center;
        align-content: center;
        display: flex;
        background-image: linear-gradient(45deg, #c3c3c3 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, #c3c3c3 75%),
            linear-gradient(45deg, transparent 75%, #c3c3c3 75%),
            linear-gradient(45deg, #c3c3c3 25%, #fff 25%);
        background-size: $shadow-picker-empty-bg-size $shadow-picker-empty-bg-size;
        background-position: 0 0, 0 0,
            math.div($shadow-picker-empty-bg-size, 2) math.div($shadow-picker-empty-bg-size, 2),
            math.div($shadow-picker-empty-bg-size, 2) math.div($shadow-picker-empty-bg-size, 2);
    }

    .sp-sample {
        background: #f5f5f5;
        border-radius: 100%;
        width: 50%;
        padding-top: 50%;
    }

    .sp-offset-grid {
        width: $shadow-picker-offsetgrid-size;
        height: $shadow-picker-offsetgrid-size;
        border: 1px solid #5a5a5a;
        cursor: grab;
        &.dragging {
            cursor: grabbing;
        }
        .line {
            color: #555a;
        }
        .sp-grid-handle {
            color: $shadow-picker-control-color;
            pointer-events: none;
        }
        .sp-grid-line {
            color: rgba(85, 85, 85, 0.667);
        }
    }

    .sp-color-field {
        display: flex;
        gap: $shadow-picker-padding;
        flex-direction: row;
        align-items: center;
        .sp-color-controller {
            min-width: calc(#{$shadow-picker-offsetgrid-size} + 4px);
            display: flex;
            align-items: center;
            gap: math.div($shadow-picker-padding, 2);
            flex: 0;
        }
        .sp-slider {
            flex: 1;
            min-width: 0;
        }
    }
}
